#breakfast {
  background-image: url("../images/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 77px;
  font-family: 'Dancing Script' cursive;
  font-size: 25px;

}
#logo {
  background-image: url("../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

#lunch {
  background-image: url("../images/foodtop/lunch.jpg");
  background-size: auto;
  padding: 77px;
  font-family: 'Dancing Script' cursive;
  font-size: 25px;
}

#dinner {
  background-image: url("../images/foodtop/dinner.jpg");
  background-size: auto;
  padding: 77px;
  font-family: 'Dancing Script' cursive;
  font-size: 25px;
}

#bottom {
  background-color: #F15A29;

}

#party {
  background-color:  #F15A29;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#subscribe {
  background-image: url("../images/backgrounds/subscribe.jpg");
  padding: 77px;
}
 #happy-hour {
     padding: 28px;
 }

 #party {
     padding: 28px;
 }
.first {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

.pt {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}
.orange {
 font: color:orange;
}
