#breakfast {
  background-image: url("../images/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 77px;

}
#logo {
  background-image: url("../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

#lunch {
  background-image: url("../images/foodtop/lunch.jpg");
  background-size: auto;
  padding: 77px;
}

#dinner {
  background-image: url("../images/foodtop/dinner.jpg");
  background-size: auto;
  padding: 77px;
}

#bottom {
  background-color: #F15A29;

}

#party {
  background-color:  #F15A29;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#subscribe {
  background-image: url("../images/backgrounds/subscribe.jpg");
}
 #happy-hour {
     padding: 38.5px;
 }

 #party {
     padding: 38.5px;
 }
